<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layouts/layout}">
  <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/upload.css}">
    <link rel="stylesheet" th:href="@{/assets/css/starrr.css}">
  </th:block>
  <div class="container px-6 mx-auto grid" layout:fragment="content">
    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">Movie Read</h2>

    <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
      <form action="" method="post">
        <label class="block text-sm mt-4">
          <span class="text-gray-700 dark:text-gray-400">제목</span>
          <input
            class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            placeholder="제목"
            readonly
            th:value="${movieDto.title}"
          />
        </label>
        <label class="block text-sm mt-4">
          <span class="text-gray-700 dark:text-gray-400">리뷰 수</span>
          <input
            class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            placeholder="리뷰 수"
            readonly
            th:value="${movieDto.reviewCnt}"
          />
        </label>
        <label class="block text-sm mt-4">
          <span class="text-gray-700 dark:text-gray-400">평균 평점</span>
          <input
            class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            placeholder="평균 평점"
            readonly
            th:value="${movieDto.reviewAvg}"
          />
        </label>
        <div class="mt-4">
          <a sec:authorize="hasRole('ADMIN')"
            th:href="@{modify(mno=${movieDto.mno},page=${requestDto.page},size=${requestDto.size},type=${requestDto.type},keyword=${requestDto.keyword})}"
            class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
          >
            수정
          </a>
          <a
            th:href="@{list(page=${requestDto.page},size=${requestDto.size},type=${requestDto.type},keyword=${requestDto.keyword})}"
            class="px-4 py-2 text-sm font-medium leading-5 text-black transition-colors duration-150 bg-orange-100 border border-transparent rounded-lg active:bg-orange-600 hover:bg-orange-700 focus:outline-none focus:shadow-outline-orange"
          >
            목록
          </a>
        </div>
      </form>
      <!-- 영화이미지 영역 -->
      <div class="uploadResult mb-4">
        <ul>
          <li th:each="movieImage : ${movieDto.movieImageDtos}">
            <img
              th:attr="data-file=${movieImage.getThumbImageURL()}" data-bs-toggle="modal" data-bs-target="#imgModal"
              th:src="|/upload/display?fileName=${movieImage.getThumbImageURL()}|"
              th:if="${movieImage.path != null}"
              alt=""
              class="block"
            />
          </li>
        </ul>
      </div>

      <div>        
          <a
          class="flex items-center justify-between p-4 mb-8 text-sm font-semibold text-purple-100 bg-purple-600 rounded-lg shadow-md focus:outline-none focus:shadow-outline-purple"
          href="https://github.com/estevanmaito/windmill-dashboard"
        >
          <div class="flex items-center">
            <svg class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
              ></path>
            </svg>
            <span>리뷰 작성 [ <span class="review-cnt"></span> ]</span>
          </div>        
        </a>    
      </div>

      <!-- 리뷰 폼 -->    
      <form action="" method="post" id="reviewForm" sec:authorize="hasAnyRole('ADMIN','MEMBER')">
        <input type="hidden" name="reviewNo" value="">
        <input type="hidden" name="mid" th:value="${#authentication.principal.memberDto.mid}">
        <input type="hidden" name="email" th:value="${#authentication.name}">
        <label class="block text-sm mt-2">
          <span class="text-gray-700 dark:text-gray-400">작성자</span>
          <input
            name = "nickname"
            class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            placeholder="작성자"   
            readonly    
            th:value="${#authentication.principal.memberDto.nickname}"   
          />
        </label>
        <label class="block text-sm mt-2">
          <span class="text-gray-700 dark:text-gray-400">내용</span>
          <textarea
            name="text"
            rows="3"
            class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            placeholder="영화 리뷰 등록"          
          ></textarea>
        </label>
        <label class="block text-sm mt-2">
          <span class="text-gray-700 dark:text-gray-400">평점</span>
          <div class="starrr"></div>
        </label>
        <div class="flex mt-6 text-sm">
          <button class="btn btn-outline-danger btn-sm" type="submit" style="--bs-btn-padding-y:0.5rem;--bs-btn-padding-x:1.5rem">리뷰 등록</button>
        </div>
      </form>
      <!-- 리뷰 영역 -->
      <div class="mt-2 px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800 review-list hidden">
        <!-- <div class="d-flex justify-content-between my-2 border-bottom py-2 review-row" data-rno="">
          <div class="flex-grow-1 align-self-center">
            <div>
              <span class="font-semibold">리뷰 내용</span>
            </div>
            <div class="small text-muted">
              <span class="d-inline-block mr-3">리뷰 작성자</span>
              평점 : 0.0
              <span class="grade"></span>
            </div>
            <div class="text-muted">
              <span class="small">2024-11-29</span>
            </div>
          </div>
          <div class="d-flex flex-column align-self-center">
            <div class="mb-2">
              <button class="btn btn-outline-danger btn-sm">삭제</button>
            </div>
            <div class="mb-2">
              <button class="btn btn-outline-success btn-sm">수정</button>
            </div>
          </div>
        </div> -->
      </div>
    </div>  
  </div>
  <!-- 페이지 별 js 영역 -->
  <th:block layout:fragment="js">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script th:src="@{/assets/js/starrr.js}"></script>
    <script>
      const csrfValue = '[[${_csrf.token}]]'; 

      // 로그인 사용자 정보 가져오기
      const loginUser = '[[${#authentication.name}]]';

      // 영화명 
      const title = '[[${movieDto.title}]]';
      const mno = '[[${movieDto.mno}]]';
      
      let grade = 0;
      $('.starrr').starrr({
        rating:grade,
        change: function(e, value){
          console.log('new rating is ' + value);
          grade = value;
        }
      })
    </script>
    <script th:src="@{/js/read.js}"></script>
  </th:block>
</html>
