<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>EX1</h1>
    <ul>
      <li>주소줄에 오는 값 : <span th:text="${param.age}"></span></li>
      <li>주소줄에 오는 값 : <span th:text="${param.name}"></span></li>
      <li>addFlashAttribute : <span th:text="${addr}"></span></li>
    </ul>
    <script>
      const age = [[${param.age}]];
      const name = '[[${param.name}]]';
      const addr = '[[${addr}]]';
    </script>
  </body>
</html>
