<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- 
      thymeleaf

      th:text="${}"

    -->
    <h3 th:text="${now}"></h3>
    <h3 th:text="${#dates.format(now,'yyyy-MM-dd')}"></h3>
    <h3 th:text="${price}"></h3>
    <h3 th:text="${#numbers.formatInteger(price,3,'COMMA')}"></h3>
    <h3 th:text="${#numbers.formatDecimal(price,5,10,'POINT')}"></h3>
    <div th:with="priceVlaue=99.87654">
      <h3 th:text="${#numbers.formatInteger(priceVlaue,3,'COMMA')}"></h3>
      <h3 th:text="${#numbers.formatDecimal(priceVlaue,5,10,'POINT')}"></h3>
    </div>
    <h3 th:text="${options}"></h3>
    <h3 th:text="${title}"></h3>
    <ul>
      <li th:each=" s: ${#strings.listSplit(title,' ')}">[[${s}]]</li>
    </ul>

    <h1 th:text="${'INDEX'}"></h1>
    <h3 th:text="${name}"></h3>
    <h3>이름 : [[${name}]]</h3>
    <ul>
      <li th:text="${login.userid}"></li>
      <li th:text="${login.password}"></li>
    </ul>
    <ul>
      <li>아이디 : [[${login.userid}]]</li>
      <li>비밀번호 : [[${login.password}]]</li>
    </ul>
    <!-- 디자인 부여, 스크립트 부여 시 편함-->
    <ul>
      <li>아이디: <span th:text="${login?.userid}"></span></li>
      <li>비밀번호: <span th:text="${login?.password}"></span></li>
    </ul>
    <ul>
      <li>ID : <span th:text="${sampleDto.id}"></span></li>
      <li>First : <span th:text="${sampleDto.first}"></span></li>
      <li>Last : <span th:text="${sampleDto.last}"></span></li>
      <li>LocalDateTime : <span th:text="${sampleDto.regDateTime}"></span></li>
    </ul>
    <ul>
      <li th:each="dto : ${list}" th:text="${dto}"></li>
    </ul>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">regDateTime</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="dto : ${list}">
          <th scope="row" th:text="${dto.id}"></th>
          <td>
            <a
              th:href="@{/sample/ex2(id=${dto.id})}"
              th:text="${dto.first}"
            ></a>
          </td>
          <td th:text="${dto.last}"></td>
          <td
            th:text="${#temporals.format(dto.regDateTime, 'yyyy-MM-dd hh:mm:ss')}"
          ></td>
        </tr>
      </tbody>
    </table>
    <h3>인라인 방식</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">regDateTime</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="dto : ${list}">
          <th scope="row">[[${dto.id}]]</th>
          <td>[[${dto.first}]]</td>
          <td>[[${dto.last}]]</td>
          <td>
            [[${#temporals.format(dto.regDateTime, 'yyyy-MM-dd hh:mm:ss')}]]
          </td>
        </tr>
      </tbody>
    </table>
    <h3>th:each 사용할 수 있는 state</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">index</th>
          <th scope="col">count</th>
          <th scope="col">size</th>
          <th scope="col">odd/even</th>
          <th scope="col">id</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">regDateTime</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="dto, state : ${list}">
          <th scope="row">[[${state.index}]]</th>
          <th scope="row">[[${state.count}]]</th>
          <th scope="row">[[${state.size}]]</th>
          <th scope="row">[[${state.odd} + '/'+ ${state.even}]]</th>
          <th scope="row">[[${dto.id}]]</th>
          <td>[[${dto.first}]]</td>
          <td>[[${dto.last}]]</td>
          <td>
            [[${#temporals.format(dto.regDateTime, 'yyyy-MM-dd hh:mm:ss')}]]
          </td>
        </tr>
      </tbody>
    </table>
    <h3>th:if</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">regDateTime</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="dto : ${list}" th:if="${dto.id % 5 == 0}">
          <th scope="row" th:text="${dto.id}"></th>
          <td th:text="${dto.first}"></td>
          <td th:text="${dto.last}"></td>
          <td
            th:text="${#temporals.format(dto.regDateTime, 'yyyy-MM-dd hh:mm:ss')}"
          ></td>
        </tr>
      </tbody>
    </table>
    <h3>th:if / th:unless(if 앞에 NOT)</h3>
    <ul>
      <li th:each="dto,state : ${list}">
        <span
          th:text="${'--------------------' +dto.id}"
          th:if="${dto.id % 5 ==0}"
        ></span>
        <span th:text="${dto.first}" th:unless="${dto.id % 5 ==0}"></span>
      </li>
    </ul>
    <h3>삼항 연산자</h3>
    <ul>
      <li
        th:each="dto,state : ${list}"
        th:text="${dto.id % 5 ==0}?${dto.id}:${dto.first}"
      ></li>
    </ul>
    <h3>th:switch</h3>
    <ul>
      <li th:each="dto,state : ${list}" th:switch="${state.even}">
        <span th:text="${dto.first}" th:case="true"></span>
        <span th:text="${dto.last}" th:case="false"></span>
      </li>
    </ul>
    <h3>th:href</h3>
    <ul>
      <li><a th:href="@{/member/login}">Login</a></li>
      <li><a th:href="@{ex1}">ex1</a></li>
      <li>
        <a th:href="@{/sample/ex2(parma1='data1',param2='data2')}">ex2</a>
      </li>
    </ul>
    <a href="/sample/ex2?id=1"></a>
  </body>
</html>
