<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layouts/layout}">
  <th:block layout:fragment="css">
    <style></style>
  </th:block>

  <div layout:fragment="content" class="container">
    <div class="card">
      <h5 class="card-header">메모수정</h5>
      <div class="card-body">
        <form action="" method="post">
          <div class="form-floating">
            <textarea
              class="form-control"
              placeholder="Leave a comment here"
              id="floatingTextarea"
              style="height: 100px"
              name="memoText"
              th:text="${dto.memoText}"
            ></textarea>
            <label for="floatingTextarea">MemoText</label>
          </div>
          <div class="mt-3">
            <button type="submit" class="btn btn-primary">수정</button>
            <a class="btn btn-danger" th:href="@{remove(mno=${dto.mno})}"
              >삭제</a
            >
          </div>
          <input type="hidden" name="mno" th:value="${dto.mno}" />
        </form>
      </div>
    </div>
  </div>

  <th:block layout:fragment="script">
    <script>
      //스크립트 작성
    </script>
  </th:block>
</html>
