.uploadResult {
  width: 100%;
  background-color: rgba(244, 245, 247, 0.9);
  margin-top: 20px;
}

.uploadResult ul {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  overflow: auto;
}

.uploadResult ul li {
  list-style: none;
  padding: 10px;
  margin-left: 2em;
}

.uploadResult ul li img {
  width: 100px;
}
