<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layouts/layout}">
  <div layout:fragment="content">
    <h2>Register</h2>

    <form action="" method="post" class="mt-5" th:object="${memberDto}">
      <div class="mb-3">
        <label for="email">이메일</label>
        <input
          type="text"
          name="email"
          id="email"
          class="form-control"
          placeholder="이메일 입력"
        />
        <div
          th:if="${#fields.hasErrors('email')}"
          th:errors="*{email}"
          class="text-danger"
        ></div>
      </div>
      <div class="mb-3">
        <label for="content">비밀번호</label>
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
          placeholder="비밀번호 입력"
        />
        <div
          th:if="${#fields.hasErrors('password')}"
          th:errors="*{password}"
          class="text-danger"
        ></div>
      </div>
      <div class="mb-3">
        <label for="email">이름</label>
        <input
          type="text"
          name="name"
          id="name"
          class="form-control"
          placeholder="이름 입력"
        />
        <div
          th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}"
          class="text-danger"
        ></div>
      </div>

      <button class="btn btn-primary" type="submit">회원가입</button>
      <button class="btn btn-success" type="reset">재작성</button>
    </form>
  </div>
  <th:block layout:fragment="script"> </th:block>
</html>
