<!DOCTYPE html>
<html lang="en" layout:decorate="~{/layouts/layout}">
  <th:block layout:fragment="css">
    <style></style>
  </th:block>

  <div layout:fragment="content" class="container">
    <h1>도서 추가</h1>
    <form action="" method="post" th:object="${dto}">
      <div class="mb-3 row">
        <label for="categoryName" class="col-sm-2 col-form-label">분류</label>
        <div class="col-sm-10">
          <select name="categoryName" id="" class="form-select">
            <option value="" th:selected="${dto.categoryName} == ''">
              분류 선택
            </option>
            <option
              th:value="${cate.id}"
              th:each="cate : ${cDtos}"
              th:text="${cate.categoryName}"
              th:selected="${dto.categoryName} == ${cate.id}"
            ></option>
          </select>
          <div
            th:if="${#fields.hasErrors('categoryName')}"
            th:errors="*{categoryName}"
            class="text-danger"
          ></div>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="publisherName" class="col-sm-2 col-form-label"
          >출판사</label
        >
        <div class="col-sm-10">
          <select name="publisherName" id="" class="form-select">
            <option value="" th:selected="${dto.publisherName} == ''">
              출판사 선택
            </option>
            <option
              th:value="${pub.id}"
              th:each="pub : ${pDtos}"
              th:text="${pub.publisherName}"
              th:selected="${dto.publisherName} == ${pub.id}"
            ></option>
          </select>
          <div
            th:if="${#fields.hasErrors('publisherName')}"
            th:errors="*{publisherName}"
            class="text-danger"
          ></div>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="title" class="col-sm-2 col-form-label">제목</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            th:value="${dto.title}"
          />
          <div
            th:if="${#fields.hasErrors('title')}"
            th:errors="*{title}"
            class="text-danger"
          ></div>
        </div>
      </div>

      <div class="mb-3 row">
        <label for="writer" class="col-sm-2 col-form-label">저자</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="writer"
            name="writer"
            th:value="${dto.writer}"
          />
          <div
            th:if="${#fields.hasErrors('writer')}"
            th:errors="*{writer}"
            class="text-danger"
          ></div>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="price" class="col-sm-2 col-form-label">가격</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="price"
            name="price"
            th:value="${dto.price}"
          />
          <div
            th:if="${#fields.hasErrors('price')}"
            th:errors="*{price}"
            class="text-danger"
          ></div>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="salePrice" class="col-sm-2 col-form-label">할인가격</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="salePrice"
            name="salePrice"
            th:value="${dto.salePrice}"
          />
          <div
            th:if="${#fields.hasErrors('salePrice')}"
            th:errors="*{salePrice}"
            class="text-danger"
          ></div>
        </div>
      </div>
      <div>
        <button class="btn btn-primary">추가</button>
        <a th:href="@{list}" class="btn btn-secondary">목록</a>
      </div>
    </form>

    <form action="" method="post" id="actionForm">
      <input type="hidden" name="id" th:value="${dto.id}" />
    </form>
  </div>
  <th:block layout:fragment="script">
    <script>
      //스크립트 작성
    </script>
    <script th:src="@{/js/modify.js}"></script>
  </th:block>
</html>
