<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Login</h1>
    <form action="" method="post" th:object="${loginDto}">
      <div>
        <label for="userid">userid</label>
        <input type="text" name="userid" id="userid" th:value="${loginDto.userid}"/>
        <div
          class="text-danger"
          th:if="${#fields.hasErrors('userid')}"
          th:errors="*{userid}"
        ></div>
        <div>
          <label for="password">password</label>
          <input type="password" name="password" id="password" th:value="${loginDto.password}"/>
        <div
          class="text-danger"
          th:if="${#fields.hasErrors('password')}"
          th:errors="*{password}"
        ></div>
      </div>
      <div>
        <button>로그인</button>
      </div>
    </form>
    <ul>
      <li>아이디: <span th:text="${memberDto?.userid}"></span></li>
      <li>비밀번호: <span th:text="${memberDto?.password}"></span></li>
    </ul>
  </body>
</html>
